@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@import "tailwindcss";




a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 600;
  font-style: normal;
}



::-webkit-scrollbar {
    display: none;
}


.custom-scroll::-webkit-scrollbar {
    width: 4px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


@keyframes zoomSlow {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.2);
    }
}


@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    animation: fadeUp 1s ease forwards;
}

.fade-delay-1 {
    animation-delay: 0.2s;
}

.fade-delay-2 {
    animation-delay: 0.4s;
}

.fade-delay-3 {
    animation-delay: 0.6s;
}


@keyframes floatSlow {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(-20px) translateX(10px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes floatSlowReverse {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(20px) translateX(-10px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

.animate-float {
    animation: floatSlow 8s ease-in-out infinite;
}

.animate-float-reverse {
    animation: floatSlowReverse 10s ease-in-out infinite;
}


@keyframes underlineGrow {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        width: 60%;
        opacity: 1;
    }
}

.animate-underline {
    animation: underlineGrow 0.8s ease forwards;
}


@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(-20px) translateX(10px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes floatReverse {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(20px) translateX(-10px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

.animate-float {
    animation: float 10s ease-in-out infinite;
}

.animate-float-reverse {
    animation: floatReverse 12s ease-in-out infinite;
}


@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}


